<div id="dashboard" class="page-layout carded fullwidth inner-scroll">

  <div class="center">
    <div class="content-card" style="margin-top: 5px;">
      <div class="separator">
        <h1 style="margin-top: 0 !important;text-align: center;">Your Leagues</h1>
      </div>
      <div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <h2>Managing</h2>
          <button mat-raised-button color="primary" [routerLink]="'/manage-league'">
            Create League
          </button>
        </div>
        <div>
          <mat-table [ngStyle]="noMyLaegues ? {'display': 'none'} : {'display': 'block'}" class="trainer-table" #table1
            [dataSource]="myLeagues" [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

            <ng-container matColumnDef="league">
              <mat-header-cell *matHeaderCellDef>League</mat-header-cell>
              <mat-cell *matCellDef="let league">
                <p class="text-truncate">{{league.name ? league.name : '---'}}</p>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="players">
              <mat-header-cell *matHeaderCellDef>Players</mat-header-cell>
              <mat-cell *matCellDef="let league">
                <p class="text-truncate">
                  {{league.maxParticipants ? league.maxParticipants : '---'}}
                </p>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="more">
              <mat-header-cell style="max-width: 89px" *matHeaderCellDef></mat-header-cell>
              <mat-cell style="max-width: fit-content;" *matCellDef="let league">
                <button mat-raised-button color="primary" [routerLink]="'/add-points/'+league.id">More</button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

            <mat-row *matRowDef="let league; columns: displayedColumns;" class="product" matRipple>
            </mat-row>
          </mat-table>

          <div class="no-user-found" *ngIf="noMyLaegues">
            <h4>You have not created any leagues</h4>
          </div>
        </div>
      </div>

      <div style="margin-top: 10px;">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <h2>Participating</h2>
          <button mat-raised-button color="primary" [routerLink]="'/leagues'">
            Join League
          </button>
        </div>
        <div>
          <mat-table [ngStyle]="noJoinedLeagues ? {'display': 'none'} : {'display': 'block'}" class="trainer-table"
            #table2 [dataSource]="joinedLeagues" [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

            <ng-container matColumnDef="league">
              <mat-header-cell *matHeaderCellDef>League</mat-header-cell>
              <mat-cell *matCellDef="let league">
                <p class="text-truncate">{{league.name ? league.name : '---'}}</p>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="players">
              <mat-header-cell *matHeaderCellDef>Players</mat-header-cell>
              <mat-cell *matCellDef="let league">
                <p class="text-truncate">
                  {{league.maxParticipants ? league.maxParticipants : '---'}}
                </p>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="more">
              <mat-header-cell style="max-width: 89px" *matHeaderCellDef></mat-header-cell>
              <mat-cell style="max-width: fit-content;" *matCellDef="let league">
                <button mat-raised-button color="primary" [routerLink]="'/manage-team/'+league.id">More</button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

            <mat-row *matRowDef="let league; columns: displayedColumns;" class="product" matRipple>
            </mat-row>
          </mat-table>

          <div class="no-user-found" *ngIf="noJoinedLeagues">
            <h4>You have not joined any leagues</h4>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>