<div fxLayout="row" fxLayoutAlign="end start">
    <button
     mat-icon-button
     class="close-btn"
     [disableRipple]="true"
     [autofocus]="false"
     (click)="onNoClick()">
        <mat-icon>cancel</mat-icon>
    </button>
</div>
<div class="event-modal" fxLayout="column" fxLayoutAlign="center none">
    <h1 style="text-align: center;">Training Detail</h1>
    <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-flat-button [disableRipple]="true" [ngClass]="statusClass">{{status}}</button>
    </div>
    <p>Trainer s Choice / User s Choice</p>
    <p>Time: {{time}}</p>
    <p>Date: {{date}}</p>
    <p>Single session</p>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <p>{{clientName}}</p>
        <button mat-raised-button color="accent" (click)="onProfileView()">View Profile</button>
    </div>
</div>