<div fxLayout="row" fxLayoutAlign="end start">
    <button mat-icon-button class="close-btn" [disableRipple]="true" [autofocus]="false" (click)="onNoClick()">
        <mat-icon>cancel</mat-icon>
    </button>
</div>
<h2 mat-dialog-title style="text-align: center;">
    Are you sure?
</h2>
<div class="my-dialog" fxLayout="row" fxLayoutAlign="space-evenly center">
    <button [disabled]="disableButtons || disableVerifyBtn" mat-raised-button color="accent" (click)="onVerify()">Verified</button>
    <button [disabled]="disableButtons || disableRejectBtn" mat-raised-button color="accent" (click)="onReject()" cdkFocusInitial>Rejected</button>
</div>