<div id="trainer" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <div class="center">
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Trainer Management
                </span>
            </div>

            <div class="filters" fxLayout="row">
                <div class="search-wrapper mx-32 mx-md-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon style="color: gray;">search</mat-icon>
                        <input #SearchInput placeholder="Search">
                        <mat-spinner *ngIf="showSearchLoader" diameter="20"></mat-spinner>
                    </div>
                </div>
            </div>

            <div fxLayout="row" >
                <button
                 mat-raised-button
                 class="add-product-button fuse-white mt-24 mt-md-0"
                 [ngClass]="selectedFilter === 'verified' ? 'selected' : 'not-selected'"
                 (click)="filterClick('verified')"
                >
                    <span>Verified</span>
                </button>

                <button
                 mat-raised-button
                 class="add-product-button fuse-white mt-24 mt-md-0 mx-4"
                 [ngClass]="selectedFilter === 'unverified' ? 'selected' : 'not-selected'"
                 (click)="filterClick('unverified')"
                >
                    <span>Unverified</span>
                </button>

                <button
                 mat-raised-button
                 class="add-product-button fuse-white mt-24 mt-md-0"
                 [ngClass]="selectedFilter === 'rejected' ? 'selected' : 'not-selected'"
                 (click)="filterClick('rejected')"
                >
                    <span>Rejected</span>
                </button>
            </div>
        </div>

        <div class="content-card">
            <mat-table class="trainer-table" #table matSort [dataSource]="dataSource"
                [@animateStagger]="{value:'50'}" fusePerfectScrollbar>
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Trainer Name</mat-header-cell>
                    <mat-cell *matCellDef="let trainer">
                        <p class="text-truncate">{{trainer.name ? trainer.name : '---'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                    <mat-cell *matCellDef="let trainer">
                        <p class="text-truncate" [matTooltip]="trainer.email ? trainer.email : '---'">
                            {{trainer.email ? trainer.email : '---'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="registeredAt">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Registered At</mat-header-cell>
                    <mat-cell *matCellDef="let trainer">
                        <p class="text-truncate">
                            {{trainer.createdAt ? moment(trainer.createdAt).format("DD/MM/YYYY") : '---'}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="active">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let trainer"> <!-- fxHide fxShow.gt-xs -->
                        <button mat-raised-button aria-label="More" color="accent" style="margin: 0 5px; margin-left: auto;" [routerLink]="'/trainers/' + trainer.id">
                            More
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let trainer; columns: displayedColumns;" class="product" matRipple>
                </mat-row>
            </mat-table>

            <div class="no-user-found" *ngIf="noUser">
                <h4>No Record Found</h4>
            </div>

            <mat-paginator *ngIf="!noUser" #paginator [length]="totalLength" [pageSize]="limit"
                [pageSizeOptions]="pageLimit" (page)="changePage($event)">
            </mat-paginator>
        </div>
    </div>
</div>