<div id="add-points" class="page-layout carded fullwidth inner-scroll">

  <div class="center">
    <div class="content-card" style="margin-top: 5px;">
      <div class="separator">
        <h2 style="margin-top: 0 !important;">Leaderboard</h2>
      </div>
      <div>
        <h3>Add Points</h3>
        <div fxLayout="column">
          <mat-form-field variant="outline">
            <input type="text" placeholder="Players" aria-label="Number" matInput [formControl]="myControl"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name"
                (onSelectionChange)="playerSelected(option)">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <form name="pointsForm" (submit)="calculatePoints()" fxLayout="column" [formGroup]="pointsForm" novalidate>

            <mat-form-field variant="outline">
              <input type="number" placeholder="Runs" matInput formControlName="runs">
            </mat-form-field>
            <mat-form-field variant="outline" >
              <input type="number" placeholder="Fours" matInput formControlName="fours">
            </mat-form-field>
            <mat-form-field variant="outline">
              <input type="number" placeholder="Sixes" matInput formControlName="sixes">
            </mat-form-field>
            <mat-form-field variant="outline">
              <input type="number" placeholder="Wickets" matInput formControlName="wickets">
            </mat-form-field>
            <button [disabled]="pointsForm.invalid || selectedPlayerId === ''" mat-raised-button color="primary">Save</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>