<div id="trainer-cal" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <div class="center">
        <div *ngIf="!calendarExpanded" class="header accent" fxLayout="column" fxLayoutAlign="center center"
            fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Calendar
                </span>
            </div>

            <!-- <div class="filters" fxLayout="row">
                <div class="search-wrapper mx-32 mx-md-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon style="color: gray;">search</mat-icon>
                        <input #SearchInput placeholder="Search">
                        <mat-spinner *ngIf="isSearching" diameter="20"></mat-spinner>
                    </div>
                </div>
            </div> -->
            <div fxLayout="row">
                <form class="search-form">
                    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="search-icon">search</mat-icon>
                        <mat-form-field floatPlaceholder="never" appearance="none" class="mat-search"
                            variant="outlined">
                            <input #SearchInput type="text" placeholder="Search" aria-label="search" matInput
                                [formControl]="trainerName" [matAutocomplete]="auto" style="color: black;">
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event.option.value)">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </form>



                <button mat-icon-button [matMenuTriggerFor]="packFilter" aria-label="Filter by packs">
                    <mat-icon>filter_list</mat-icon>
                </button>
                <mat-menu #packFilter="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="vertebrates">Packs</button>
                </mat-menu>

                <mat-menu #vertebrates="matMenu">
                    <button mat-menu-item [ngClass]="selectedFilter === '1' ? 'selected-tc' : 'not-selected-tc'"
                        (click)="filterClick('1')">
                        1 day
                    </button>
                    <button mat-menu-item [ngClass]="selectedFilter === '2' ? 'selected-tc' : 'not-selected-tc'"
                        (click)="filterClick('2')">
                        2 days
                    </button>
                    <button mat-menu-item [ngClass]="selectedFilter === '5' ? 'selected-tc' : 'not-selected-tc'"
                        (click)="filterClick('5')">
                        5 days
                    </button>
                    <button mat-menu-item [ngClass]="selectedFilter === '10' ? 'selected-tc' : 'not-selected-tc'"
                        (click)="filterClick('10')">
                        10 days
                    </button>
                </mat-menu>
            </div>
        </div>

        <div class="content-card" fusePerfectScrollbar [fusePerfectScrollbarOptions]="{'suppressScrollX': true}">
            <mwl-demo-component (newItemEvent)="resizeScreen($event)">Loading...</mwl-demo-component>
        </div>
    </div>
</div>