@import "src/@fuse/scss/fuse";

.selected-tc {
    border: 2px solid black;
    border-radius: 4px;
}

.not-selected-tc {
    border: 2px solid white;
}

#trainer-cal {
    .mat-progress-spinner svg {
        position: inherit;
    }

    .hide-search {
        display: none;
    }

    .show-tab {
        display: flex;
    }

    .top-bg {
        @include media-breakpoint("lt-md") {
            height: 256px;
        }
    }

    .pack-btn {
        min-width: 85px;
    }

    .mat-form-field-infix {
        padding-top: 3px;
    }

    >.center {
        >.header {
            .filters {
                max-height: 50px;

                .search-wrapper {
                    width: 100%;
                    max-width: 480px;
                    border-radius: 28px;
                    background-color: white;
                    overflow: hidden;
                    @include mat-elevation(1);

                    @include media-breakpoint("xs") {
                        width: 100%;
                    }

                    .search {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 18px;

                        /* input {
                width: 100%;
                height: 48px;
                min-height: 48px;
                max-height: 48px;
                padding: 0 16px;
                border: none;
                outline: none;
              } */
                    }
                }

                .mat-form-field {
                    max-width: 120px;
                    margin-left: 15px;
                }

                .type-selection-dropdown {
                    border: 1px solid;
                    border-radius: 50px;
                    padding: 0 20px;
                    min-width: 160px;
                }
            }

            .search-form {
                background-color: white;
                border: 1px solid;
                border-radius: 50px;
                max-height: 48px;
            }

            .mat-search {
                background-color: transparent;
                max-height: 48px;
                width: 100%;
                min-width: 230px;
                padding: 0px 20px;

                ::ng-deep .mat-form-field-infix {
                    border-top: none;
                }
            }

            .search-icon {
                color: gray;
                padding-left: 10px;
                align-self: center;
                padding-top: 3px;
            }

            @include media-breakpoint("lt-md") {
                padding: 8px 0;
                height: 192px !important;
                min-height: 192px !important;
                max-height: 192px !important;
            }
        }
    }

    .packs {
        padding: 5px;
        font-weight: 600;

        @include media-breakpoint("lt-md") {
            align-self: flex-end;
        }
    }

}

.no-user-found {
    height: 100vh;
    padding: 35px;
    text-align: center;
}