<div id="leaderboard" class="page-layout carded fullwidth inner-scroll">

  <div class="center">
    <div class="content-card" style="margin-top: 5px;">
      <div class="separator">
        <h2 style="margin-top: 0 !important;">Leaderboard</h2>
      </div>
      <div>
        <mat-form-field variant="outline">
          <input type="text" placeholder="Search Leagues" aria-label="Number" matInput
          [formControl]="myControl"
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" >
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name"
              (onSelectionChange)="leagueSelected($event, option)">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div>
          <mat-table [ngStyle]="noData ? {'display': 'none'} : {'display': 'block'}" class="trainer-table" #table1
            [dataSource]="dataSource" [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

            <ng-container matColumnDef="rank">
              <mat-header-cell *matHeaderCellDef>Rank</mat-header-cell>
              <mat-cell *matCellDef="let league;let i = index">
                <p class="text-truncate">{{i+1}}</p>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
              <mat-cell *matCellDef="let league">
                <p class="text-truncate">
                  {{league.userName ? league.userName : '---'}}</p>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="points">
              <mat-header-cell *matHeaderCellDef>Points</mat-header-cell>
              <mat-cell *matCellDef="let league">
                <p class="text-truncate">
                  {{league.totalPoints ? league.totalPoints : '---'}}
                </p>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

            <mat-row *matRowDef="let league; columns: displayedColumns;let i = index" class="product" matRipple>
            </mat-row>
          </mat-table>

          <div class="no-user-found" *ngIf="noData">
            <h4>Please select a league</h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>