<div id="team" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg accent"></div>
  <div class="center">
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/teams'">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <!-- <div class="team-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                  <img *ngIf="team.images[0]" [src]="team.images[0].url">
                  <img *ngIf="!team.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
              </div> -->
        <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2">
            Team
          </div>
        </div>
      </div>
    </div>

    <div class="content-card">
      <div class="content">
        <form name="teamForm" [formGroup]="teamForm" class="team w-100-p" fxLayout="column" fxFlex novalidate>
          <div class=" mat-tab-header header  p-24">
            <h2 class="m-0">Change Password</h2>
          </div>

          <div class="tab-content p-24" fusePerfectScrollbar>
            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Current Password</mat-label>
                <input matInput type="password" formControlName="oldPassword" required>
                <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                <mat-error>
                  Current password is required
                </mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>New Password</mat-label>
                <input matInput type="password" formControlName="password" required>
                <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                <mat-error>
                  Password is required / Min 8 characters
                </mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword">
                <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                <mat-error *ngIf="teamForm.get('confirmPassword').hasError('required')">
                  Password confirmation is required
                </mat-error>
                <mat-error *ngIf="!teamForm.get('confirmPassword').hasError('required') &&
                                       teamForm.get('confirmPassword').hasError('passwordsNotMatching')">
                  Passwords must match
                </mat-error>
              </mat-form-field>
            </div>

            <button mat-raised-button class="save-team-button" [disabled]="teamForm.invalid" (click)="changePassword()">
              <span>SAVE</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>