mwl-calendar-month-view {
    .cal-day-badge {
        background-color: #039BE5;
    }
}

.cal-month-view .cal-day-badge {
    background-color: #039BE5;
}

.back-btn:focus{
    outline: none;
}

.loading-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

