<div fxLayout="row" fxLayoutAlign="end none">

</div>
<mwl-demo-utils-calendar-header (screenResizeEvent)="onResizeClick2($event)" [(view)]="view" [(viewDate)]="viewDate"
  (viewDateChange)="fetchEvents()" (viewChange)="fetchEvents()">
</mwl-demo-utils-calendar-header>

<ng-template #loading>
  <div *ngIf="trainerId" class="loading-div">
    <mat-spinner color="accent" diameter="40"></mat-spinner> <br />
    Loading events...
  </div>
  <div *ngIf="!trainerId" class="loading-div">
    Please select a trainer
  </div>
</ng-template>

<div *ngIf="events$ | async; else loading; let events">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
      [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
      (eventClicked)="eventClicked($event.event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events"
      (eventClicked)="eventClicked($event.event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events"
      (eventClicked)="eventClicked($event.event)">
    </mwl-calendar-day-view>
  </div>
</div>