<div id="reset-password" fxLayout="column">

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="reset-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/th-logo-blue.png">
            </div>

            <div class="title">{{pageMessage}}</div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate *ngIf="pageType ==='valid'" >



                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" required autocomplete="new-password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Password is required / Min 8 characters
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password (Confirm)</mat-label>
                    <input matInput type="password" formControlName="confirmPassword" autocomplete="new-password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('confirmPassword').hasError('required') &&
                                       resetPasswordForm.get('confirmPassword').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="primary"
                        aria-label="RESET MY PASSWORD" [disabled]="resetPasswordForm.invalid"  (click)="resetPassword()">
                    RESET MY PASSWORD
                </button>
            </form>



        </div>

    </div>

</div>
