<div id="initial-setup" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">

    <div id="initial-setup-form-wrapper" fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
        <div id="initial-setup-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
            <!-- Spinner min width handled by media queries -->
            <div *ngIf="isLoading" class="spinner-center spinner-min-size">
                <mat-spinner color="accent" diameter="50"></mat-spinner>
            </div>

            <div *ngIf="!isLoading">

                <div class="title">Complete Initial Setup</div>

                <!-- for mobile display -->
                <mat-vertical-stepper *ngIf="isSmallscreen" linear="true">
                    <mat-step [stepControl]="settingsFormGroup">
                        <form [formGroup]="settingsFormGroup">
                            <ng-template matStepLabel>Settings</ng-template>
                            <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-evenly center"
                                class="account-form">

                                <mat-form-field class="mx-8" appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" formControlName="email" required>
                                    <mat-error *ngIf="settingsFormGroup.get('email').hasError('required')">
                                        Email is required
                                    </mat-error>
                                    <mat-error *ngIf="!settingsFormGroup.get('email').hasError('required') &&
                                    settingsFormGroup.get('email').hasError('email')">
                                        Please enter a valid email address
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="mx-8" appearance="outline">
                                    <mat-label>Phone</mat-label>
                                    <input matInput type="number"
                                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                        maxlength="12" formControlName="phone" required>
                                    <mat-error *ngIf="settingsFormGroup.get('phone').hasError('pattern')">
                                        12 digit phone number is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayoutAlign="end" appearance="outline">
                                <button class="mx-8" mat-raised-button color="primary" matStepperNext
                                    [disabled]="settingsFormGroup.invalid">
                                    Next
                                </button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step *ngIf="false" [completed]="trainingTypes.length > 0">
                        <form>
                            <ng-template matStepLabel>Types of Training</ng-template>
                            <mat-form-field class="mx-8" appearance="outline">
                                <mat-label>Training Types</mat-label>
                                <mat-chip-list #chipList1 aria-label="Training Types" required>
                                    <mat-chip *ngFor="let type of trainingTypes" [selectable]="selectable"
                                        [removable]="removable" (removed)="remove(type)">
                                        {{type.name}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                    </mat-chip>
                                    <input [matChipInputFor]="chipList1"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                                </mat-chip-list>
                            </mat-form-field>
                            <div fxLayoutAlign="end">
                                <button class="mx-8" mat-raised-button color="primary" matStepperPrevious>
                                    Back
                                </button>
                                <button class="mx-8" mat-raised-button color="primary" matStepperNext
                                    [disabled]="trainingTypes.length === 0">
                                    Next
                                </button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step *ngIf="false" [completed]="associationNames.length > 0">
                        <form [formGroup]="associationsFormGroup">
                            <ng-template matStepLabel>Training Associations</ng-template>
                            <mat-form-field class="mx-8" appearance="outline">
                                <mat-label>Training Associations</mat-label>
                                <mat-chip-list #chipList2 aria-label="Association Names" required>
                                    <mat-chip *ngFor="let name of associationNames" [selectable]="selectable"
                                        [removable]="removable" (removed)="removeAssociations(name)">
                                        {{name.name}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                    </mat-chip>
                                    <input [matChipInputFor]="chipList2"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur" oninput="javascript: this.value = '';">
                                </mat-chip-list>
                            </mat-form-field>
                            <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-evenly center"
                                class="account-form">
                                <mat-form-field class="mx-8 small-input" appearance="outline">
                                    <input matInput placeholder="Name" formControlName="name">
                                </mat-form-field>
                                <mat-form-field class="mx-8" appearance="outline">
                                    <input matInput placeholder="Description" formControlName="description">
                                </mat-form-field>
                                <div class="m-8 pt-8" style="align-self: start;">
                                    <button mat-mini-fab color="primary"
                                        [disabled]="associationsFormGroup.value.name === '' || associationsFormGroup.value.description === ''"
                                        (click)="addAssociations()">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                            </div>

                            <div fxLayoutAlign="end">
                                <button class="mx-8" mat-raised-button color="primary" matStepperPrevious>
                                    Back
                                </button>
                                <button class="mx-8" mat-raised-button color="primary" matStepperNext
                                    [disabled]="associationNames.length === 0">
                                    Next
                                </button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="accountInfo">
                        <form [formGroup]="accountInfo">
                            <ng-template matStepLabel>Account Details</ng-template>
                            <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-evenly center"
                                class="account-form">
                                <mat-form-field class="mx-8" appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input matInput type="text" formControlName="name" required>
                                    <mat-error *ngIf="accountInfo.get('name').hasError('required')">
                                        Name is required
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="mx-8" appearance="outline">
                                    <mat-label>Date of Birth</mat-label>
                                    <input matInput type="date" formControlName="dateOfBirth" required>
                                    <mat-error *ngIf="accountInfo.get('dateOfBirth').hasError('required')">
                                        Date of birth is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-evenly center"
                                class="account-form">

                                <mat-form-field class="mx-8" appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" formControlName="email" required>
                                    <mat-error *ngIf="accountInfo.get('email').hasError('required')">
                                        Email is required
                                    </mat-error>
                                    <mat-error *ngIf="!accountInfo.get('email').hasError('required') &&
                                    accountInfo.get('email').hasError('email')">
                                        Please enter a valid email address
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="mx-8" appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input matInput type="password" formControlName="password" required>
                                    <mat-error *ngIf="accountInfo.get('password').hasError('required')">
                                        Password is required
                                    </mat-error>
                                    <mat-error *ngIf="accountInfo.get('password').hasError('pattern')">
                                        Password must be atleast 8 characters
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayoutAlign="end">
                                <button class="mx-8" mat-raised-button color="primary" matStepperPrevious>
                                    Back
                                </button>
                                <button class="mx-8" mat-raised-button color="primary" matStepperNext
                                    [disabled]="accountInfo.invalid || settingsFormGroup.invalid || associationNames.length === 0 || trainingTypes.length === 0"
                                    (click)="submitInitialSetup()">
                                    Done
                                </button>
                            </div>
                        </form>
                    </mat-step>
                </mat-vertical-stepper>

<!-------------------------------------------------------------------------------------------------------------------------------->

                <!-- for big screens -->
                <mat-horizontal-stepper *ngIf="!isSmallscreen" class="stepper-center" linear="true">
                    <mat-step [stepControl]="settingsFormGroup" >
                        <form [formGroup]="settingsFormGroup">
                            <ng-template matStepLabel>Settings</ng-template>
                            <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-evenly center"
                                class="account-form">

                                <mat-form-field class="mx-8" appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" formControlName="email" required>
                                    <mat-error *ngIf="settingsFormGroup.get('email').hasError('required')">
                                        Email is required
                                    </mat-error>
                                    <mat-error *ngIf="!settingsFormGroup.get('email').hasError('required') &&
                                    settingsFormGroup.get('email').hasError('email')">
                                        Please enter a valid email address
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="mx-8" appearance="outline">
                                    <mat-label>Phone</mat-label>
                                    <input matInput type="number"
                                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                        maxlength="12" formControlName="phone" required>
                                    <mat-error *ngIf="settingsFormGroup.get('phone').hasError('pattern')">
                                        12 digit phone number is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayoutAlign="end" appearance="outline">
                                <button class="mx-8" mat-raised-button color="primary" matStepperNext
                                    [disabled]="settingsFormGroup.invalid">
                                    Next
                                </button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step *ngIf="false" [completed]="trainingTypes.length > 0" >
                        <form>
                            <ng-template matStepLabel>Types of Training</ng-template>
                            <mat-form-field class="mx-8" appearance="outline">
                                <mat-label>Training Types</mat-label>
                                <mat-chip-list #chipList1 aria-label="Training Types" required>
                                    <mat-chip *ngFor="let type of trainingTypes" [selectable]="selectable"
                                        [removable]="removable" (removed)="remove(type)">
                                        {{type.name}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                    </mat-chip>
                                    <input [matChipInputFor]="chipList1"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                                </mat-chip-list>
                            </mat-form-field>
                            <div fxLayoutAlign="end">
                                <button class="mx-8" mat-raised-button color="primary" matStepperPrevious>
                                    Back
                                </button>
                                <button class="mx-8" mat-raised-button color="primary" matStepperNext
                                    [disabled]="trainingTypes.length === 0">
                                    Next
                                </button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step *ngIf="false" [completed]="associationNames.length > 0" >
                        <form [formGroup]="associationsFormGroup">
                            <ng-template matStepLabel>Training Associations</ng-template>
                            <mat-form-field class="mx-8" appearance="outline">
                                <mat-label>Training Associations</mat-label>
                                <mat-chip-list #chipList2 aria-label="Association Names" required>
                                    <mat-chip *ngFor="let name of associationNames" [selectable]="selectable"
                                        [removable]="removable" (removed)="removeAssociations(name)">
                                        {{name.name}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                    </mat-chip>
                                    <input [matChipInputFor]="chipList2"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur" oninput="javascript: this.value = '';">
                                </mat-chip-list>
                            </mat-form-field>
                            <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-evenly center"
                                class="account-form">
                                <mat-form-field class="mx-8 small-input" appearance="outline">
                                    <input matInput placeholder="Name" formControlName="name">
                                </mat-form-field>
                                <mat-form-field class="mx-8" appearance="outline">
                                    <input matInput placeholder="Description" formControlName="description">
                                </mat-form-field>
                                <div class="m-8 pt-8" style="align-self: start;">
                                    <button mat-mini-fab color="primary"
                                        [disabled]="associationsFormGroup.value.name === '' || associationsFormGroup.value.description === ''"
                                        (click)="addAssociations()">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                            </div>

                            <div fxLayoutAlign="end">
                                <button class="mx-8" mat-raised-button color="primary" matStepperPrevious>
                                    Back
                                </button>
                                <button class="mx-8" mat-raised-button color="primary" matStepperNext
                                    [disabled]="associationNames.length === 0">
                                    Next
                                </button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="accountInfo" [completed]="accountInfo.valid" >
                        <form [formGroup]="accountInfo">
                            <ng-template matStepLabel>Account Details</ng-template>
                            <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-evenly center"
                                class="account-form">
                                <mat-form-field class="mx-8" appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input matInput type="text" formControlName="name" required>
                                    <mat-error *ngIf="accountInfo.get('name').hasError('required')">
                                        Name is required
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="mx-8" appearance="outline">
                                    <mat-label>Date of Birth</mat-label>
                                    <input matInput type="date" formControlName="dateOfBirth" required>
                                    <mat-error *ngIf="accountInfo.get('dateOfBirth').hasError('required')">
                                        Date of birth is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-evenly center"
                                class="account-form">

                                <mat-form-field class="mx-8" appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" formControlName="email" required>
                                    <mat-error *ngIf="accountInfo.get('email').hasError('required')">
                                        Email is required
                                    </mat-error>
                                    <mat-error *ngIf="!accountInfo.get('email').hasError('required') &&
                                    accountInfo.get('email').hasError('email')">
                                        Please enter a valid email address
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="mx-8" appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input matInput type="password" formControlName="password" required>
                                    <mat-error *ngIf="accountInfo.get('password').hasError('required')">
                                        Password is required
                                    </mat-error>
                                    <mat-error *ngIf="accountInfo.get('password').hasError('pattern')">
                                        Password must be atleast 8 characters
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayoutAlign="end">
                                <button class="mx-8" mat-raised-button color="primary" matStepperPrevious>
                                    Back
                                </button>
                                <button class="mx-8" mat-raised-button color="primary" matStepperNext
                                    [disabled]="accountInfo.invalid || settingsFormGroup.invalid || associationNames.length === 0 || trainingTypes.length === 0"
                                    (click)="submitInitialSetup()">
                                    Done
                                </button>
                            </div>
                        </form>
                    </mat-step>
                </mat-horizontal-stepper>
            </div>
        </div>
    </div>
</div>