<div id="calendar-header" style="max-width: 100%;" class="row text-center my-pad">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-4">
    <div class="btn-group">
      <button mat-icon-button style="outline: none;" class="arrow-left" mwlCalendarPreviousView [view]="view"
        [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <h3 style="align-self: center; margin-bottom: 3px;">{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h3>
      <button mat-icon-button style="outline: none;" class="arrow-right" mwlCalendarNextView [view]="view"
        [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="viewChange.emit(CalendarView.Month)"
        [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div class="btn btn-primary" (click)="viewChange.emit(CalendarView.Week)"
        [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div class="btn btn-primary" (click)="viewChange.emit(CalendarView.Day)"
        [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
  </div>
  <div class="col-sm-1">
    <button mat-icon-button style="outline: none;" (click)="onResizeClick()">
      <mat-icon>{{screenResizeIcon}}</mat-icon>
    </button>
  </div>
</div>
<br />