@import "src/@fuse/scss/fuse";

.my-pad {
    padding-top: 10px;
}

.arrow-right {
    padding-left: 5px;
}

.arrow-left {
    padding-right: 5px;
}



#calendar-header {
    .btn {
        font-size: inherit;
    }

    .mat-button-toggle-button:focus {
        outline: none;
    }
}