<div fxLayout="row" fxLayoutAlign="end start">
    <button mat-icon-button class="close-btn" [disableRipple]="true" [autofocus]="false" (click)="onNoClick()">
        <mat-icon>cancel</mat-icon>
    </button>
</div>
<div class="my-reject-dialog" fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <h2 mat-dialog-title style="align-self: center;">Enter rejection note</h2>
    <mat-form-field appearance="outline">
        <textarea matInput [(ngModel)]="data.comment"></textarea>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <button mat-raised-button color="accent" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button color="accent" (click)="onSubmit()">Submit</button>
    </div>
</div>