@import "src/@fuse/scss/fuse";

.my-reject-dialog {
    width: 300px;

    @include media-breakpoint("xs") {
        width: 250px;
    }
}

.close-btn{
    position: absolute;
    margin-right: -20px;
    margin-top: -20px;
    mat-icon{
        color: #969191;
    }
}