<div id="gym" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <div class="center">
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/trainers'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Trainer Profile
                    </div>
                </div>
            </div>
        </div>

        <div class="content-card">
            <div class="content">
                <div class="trainer-info">
                    <h2>Trainer Name: {{trainer.name ? trainer.name : "John Doe" }}</h2>
                    <h2>Email: {{trainer.email ? trainer.email : "john.doe@gmail.com" }}</h2>
                    <h2>Registered at: {{trainer.createdAt ? moment(trainer.createdAt).format("DD/MM/YYYY") : "N/A" }}
                    </h2>
                    <h2>Address: {{trainer.address ? trainer.address : "N/A" }}</h2>
                    <h2>Certification: N/A</h2>
                    <h2>Certification code / ID / Serial #: {{trainer.code ? trainer.code : "T147491" }}</h2>
                    <h2>Types of training:</h2>
                    <ul>
                        <li>
                            <h2>Cardio</h2>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>