<div id="trainer" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <div class="center">
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-0 mr-sm-16" (click)="goBack()">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        {{trainer?.name ? trainer?.name : "N/A" }}
                    </div>
                </div>
            </div>
        </div>

        <div class="content-card" fusePerfectScrollbar>
            <div fxLayout="row" fxLayout.xs="column-reverse" fxLayoutAlign="space-between start">
                <div class="trainer-info" fxLayout="column" fxLayoutAlign="start start">

                    <div fxLayout="row" fxLayout.xs="column">
                        <p class="p-bold">Email: </p>
                        <p>{{trainer?.email ? trainer?.email : "N/A" }}</p>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column">
                        <p class="p-bold">Registered at: </p>
                        <p>{{trainer?.createdAt ? moment(trainer?.createdAt).format("DD/MM/YYYY") : "N/A" }}</p>
                    </div>

                    <div [fxLayout]="(trainer?.certifications?.length > 0 && trainer?.certifications?.length !== undefined) ? 'column' : 'row' "
                        fxLayout.xs="column">
                        <p class="p-bold">Certifications: </p>
                        <p
                            *ngIf="trainer?.certifications?.length === 0 || trainer?.certifications?.length === undefined">
                            N/A</p>
                        <ul
                            *ngIf="trainer?.certifications?.length > 0 || trainer?.certifications?.length !== undefined">
                            <li *ngFor="let cert of trainer?.certifications">
                                <p
                                    [matTooltip]="cert?.trainingAssociation?.description ? cert?.trainingAssociation?.description : ''">
                                    {{cert?.trainingAssociation?.name}} - {{cert?.certificateNumber}}</p>
                            </li>
                        </ul>
                    </div>

                    <div [fxLayout]="trainer?.trainingTypes?.length > 0 ? 'column' : 'row'" fxLayout.xs="column">
                        <p class="p-bold">Types of training:</p>
                        <p *ngIf="trainer?.trainingTypes?.length === 0">N/A</p>
                        <ul *ngIf="trainer?.trainingTypes?.length > 0">
                            <li *ngFor="let type of trainer?.trainingTypes">
                                <p>{{type?.name}}</p>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="trainer.status.toLowerCase() === 'verified'" fxLayout="row" fxLayout.xs="column">
                        <p class="p-bold">No. of Active Clients #: </p>
                        <p>{{trainer?.client ? trainer?.client : "N/A" }}</p>
                    </div>
                </div>
                <div class="trainer-info mw" fxLayout="column" fxLayoutAlign="end start"
                    fxLayoutAlign.xs="center center">
                    <div class="profile-container">
                        <mat-icon *ngIf="trainer?.status?.toLowerCase() === 'verified'" class="verified-icon"
                            aria-label="verified icon">verified_user</mat-icon>
                        <img class="profile-pic" src={{profilePic}}
                            onerror="this.src='assets/images/avatars/profile_placeholder_male.jpg';"
                            alt="Trainer Profile" (click)="openImageModal($event)">
                    </div>
                    <h2 *ngIf="trainer.status.toLowerCase() === 'verified'" class="status">Verified</h2>
                    <h2 *ngIf="trainer.status.toLowerCase() === 'rejected'" class="status">Rejected</h2>
                    <h2 *ngIf="trainer.status.toLowerCase() === 'unverified'" class="status">Unverified</h2>

                    <div *ngIf="trainer.status.toLowerCase() === 'unverified'"
                        fxLayout="column" fxLayoutAlign="center stretch" style="align-self: center;">
                        <div *ngIf="trainer.status.toLowerCase() !== 'rejected'" class="awaiting">
                            <p>Verification Status</p>
                            <p>Awaiting Verification</p>
                        </div>
                        <button (click)="openVerificationDialog()" class="v-btn" mat-raised-button
                            aria-label="Change status" color="accent">
                            Change Status
                        </button>
                        <button *ngIf="false" class="v-btn" mat-raised-button aria-label="Online Verification"
                            color="accent">
                            Online Verification
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>