@import "src/@fuse/scss/fuse";

#gym {
    .header {
        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content {
        padding: 10px;

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content {
            flex: 1 1 auto;
            max-width: 100%;
        }

        .header-info {
            display: flex;
        }

        .content-info {
            padding: 0 18px;
        }

        .tp-card {
            max-width: none !important;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .tp-card {
            max-width: 400px;
        }

        .tp-header-image {
            background-image: url("https://www.tutorialspoint.com/materialize/src/html5-mini-logo.jpg");
            background-size: cover;
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }
}

.mat-select-placeholder {
    color: black !important;
}

.trainer-info {
    padding: 20px;

    @include media-breakpoint("xs") {
        padding: 10px;
    }

    .p-bold {
        font-weight: bold;
    }

    p {
        font-size: 16px;
        margin-block-end: unset;
        margin-left: 5px;
    }
}

.v-btn {
    display: block;
    margin: 5px;
}

.profile-pic {
    max-width: 180px;
    max-height: 168px;
    display: block;
    margin: auto auto;
    cursor: pointer;
}

.status {
    align-self: center;
}

.profile-container {
    position: relative;
    display: flex;
    width: 180px;
    height: 168px;
    background-color: black;
    -webkit-box-shadow: 3px 3px 3px 3px #ccc;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 3px 3px #ccc;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 3px 3px #ccc;
}

.verified-icon {
    color: #75C739;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.awaiting :first-child {
    font-weight: bold;
    font-size: 16px;
}

.awaiting {
    text-align: center;
    padding-bottom: 20px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 250px;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    border: 1px solid;
}

.mw {
    @include media-breakpoint("xs") {
        width: 100%;
    }
}