@import "src/@fuse/scss/fuse";

#user {
    .header {
        .user-image {
            overflow: hidden;
            width: 56px;
            min-width: 56px;
            max-width: 56px;
            height: 56px;
            min-height: 56px;
            max-height: 56px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content {

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content {
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .user-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }
}

.mat-select-placeholder {
    color: black !important;
}

.user-info {
    padding: 20px;

    @include media-breakpoint("xs") {
        padding: 10px;
    }

    .p-bold {
        font-weight: bold;
    }

    p {
        font-size: 16px;
        margin-block-end: unset;
        margin-left: 5px;
    }
}

.v-btn {
    display: block;
    margin: 5px;
}

.profile-pic {
    max-width: 180px;
    max-height: 168px;
    display: block;
    margin: auto auto;
    cursor: pointer;
}

.status {
    align-self: center;
}

.profile-container {
    position: relative;
    display: flex;
    width: 180px;
    height: 168px;
    background-color: black;
    -webkit-box-shadow: 3px 3px 3px 3px #ccc;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 3px 3px #ccc;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 3px 3px #ccc;
}

.awaiting :first-child {
    font-weight: bold;
    font-size: 16px;
}

.awaiting {
    text-align: center;
    padding-bottom: 20px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 250px;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    border: 1px solid;
}

.mw {
    @include media-breakpoint("xs") {
        width: 100%;
    }
}