<div id="user" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <div class="center">
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-0 mr-sm-16" (click)="goBack()">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        {{user?.name ? user?.name : 'N/A'}}
                    </div>
                </div>
            </div>
        </div>

        <div class="content-card" fusePerfectScrollbar>
            <div fxLayout="row" fxLayout.xs="column-reverse" fxLayoutAlign="space-between start">
                <div class="user-info" fxLayout="column" fxLayoutAlign="start start">

                    <div fxLayout="row" fxLayout.xs="column">
                        <p class="p-bold">Email: </p>
                        <p>{{user?.email ? user?.email : "N/A" }}</p>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column">
                        <p class="p-bold">Registered at: </p>
                        <p>{{user?.createdAt ? moment(user.createdAt).format("DD/MM/YYYY") : "N/A" }}</p>
                    </div>

                    <div fxLayout="column">
                        <p class="p-bold">Goals: </p>
                        <p>{{user?.goals ? user?.goals : "N/A" }}</p>
                    </div>
                    <div [fxLayout]="user?.trainingTypes?.length > 0 ? 'column' : 'row'" fxLayout.xs="column">
                        <p class="p-bold">Types of training:</p>
                        <p *ngIf="user?.trainingTypes?.length === 0">N/A</p>
                        <ul *ngIf="user?.trainingTypes?.length > 0">
                            <li *ngFor="let type of user?.trainingTypes">
                                <p>{{type?.name}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="user-info mw" fxLayout="column" fxLayoutAlign="end start" fxLayoutAlign.xs="center center">
                    <div class="profile-container">
                        <img class="profile-pic" src={{user.image}} (click)="openImageModal($event)"
                            onerror="this.src='assets/images/avatars/profile_placeholder_male.jpg';" alt="user Profile">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>