<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" (submit)="register()" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="gr-title">Fantasy League</div>

            <div class="title">REGISTER</div>

            <form name="loginForm"  [formGroup]="loginForm" novalidate>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="FullName">
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error *ngIf="loginForm.get('FullName').hasError('required')">
                        Username is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="Email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('Email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error
                        *ngIf="!loginForm.get('Email').hasError('required') &&
                                loginForm.get('Email').hasError('pattern')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="Password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="loginForm.get('Password').hasError('required')">
                        Password is required
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">


                    <a class="forgot-password" routerLink="/login" style="cursor: pointer;">
                        Already have an account
                    </a>
                </div>

                <button mat-raised-button color="primary" class="submit-button" aria-label="LOG IN"
                        [disabled]="loginForm.invalid || isLogginIn">
                    Register
                </button>

            </form>
        </div>
    </div>
</div>
