<div id="reported" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <div class="center">
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Reported Users
                </span>
            </div>

            <div class="filters" fxLayout="row">
                <div class="search-wrapper mx-32 mx-md-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon style="color: gray;">search</mat-icon>
                        <input #SearchInput placeholder="Search">
                        <mat-spinner *ngIf="showSearchLoader" diameter="20"></mat-spinner>
                    </div>
                </div>
            </div>

            <div style="max-height: 65px;" fxLayout="row">
                <mat-form-field class="filter-feild" appearance="outline">
                    <mat-select [value]="filters[3]" (selectionChange)="filterChange($event)">
                        <mat-option *ngFor="let filter of filters" [value]="filter">
                            {{filter.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="content-card">
            <mat-table [ngStyle]="noUser ? {'display': 'none'} : {'display': 'block'}" class="reported-table" #table
                [dataSource]="dataSource" [@animateStagger]="{value:'50'}" fusePerfectScrollbar matSort>
                <ng-container matColumnDef="profileImage">
                    <mat-header-cell style="max-width: 88px;" *matHeaderCellDef></mat-header-cell>
                    <mat-cell class="min-cell" *matCellDef="let trainer">
                        <img [src]="regexesCopy.url.test(trainer.image) ? trainer.image : 'assets/images/avatars/profile_placeholder_male.jpg'"
                            alt="Avatar" class="avatar" style="margin-right: 24px;"
                            onerror="this.src='assets/images/avatars/profile_placeholder_male.jpg';">
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let trainer">
                        <p class="text-truncate">{{trainer.name ? trainer.name : '---'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                    <mat-cell *matCellDef="let trainer">
                        <p class="text-truncate">
                            {{trainer.type ? trainer.type : '---'}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="comment">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Comment</mat-header-cell>
                    <mat-cell *matCellDef="let trainer" (click)="openModal(comment)" style="cursor: pointer;">
                        <p class="text-truncate" [matTooltip]="trainer.comment ? trainer.comment : comment">
                            {{trainer.comment ? trainer.comment : comment}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                    <mat-cell *matCellDef="let trainer">
                        <p class="text-truncate">
                            {{trainer.status ? trainer.status : '---'}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef style="max-width: 64px;"></mat-header-cell>
                    <mat-cell class="min-cell" *matCellDef="let trainer">
                        <button mat-icon-button [matMenuTriggerFor]="listActionsMenu" aria-label="More actions menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #listActionsMenu="matMenu">
                            <button mat-menu-item [routerLink]="'/trainers/' + trainer.id">
                                <mat-icon>account_circle</mat-icon>
                                <span>Profile</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>block</mat-icon>
                                <span>Block</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>remove_circle_outline</mat-icon>
                                <span>Suspend</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>check_circle_outline</mat-icon>
                                <span>Un-block</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>check_circle_outline</mat-icon>
                                <span>Activate</span>
                            </button>
                        </mat-menu>
                    </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="block" >
                    <mat-header-cell *matHeaderCellDef class="action-head"></mat-header-cell>
                    <mat-cell *matCellDef="let trainer" class="action-column">
                        <button mat-raised-button aria-label="Block" color="accent">
                            Block
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="suspend" >
                    <mat-header-cell *matHeaderCellDef class="action-head"></mat-header-cell>
                    <mat-cell *matCellDef="let trainer" class="action-column">
                        <button mat-raised-button aria-label="Suspend" color="accent">
                            Suspend
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="unblock">
                    <mat-header-cell *matHeaderCellDef class="action-head"></mat-header-cell>
                    <mat-cell *matCellDef="let trainer" class="action-column">
                        <button mat-raised-button aria-label="unblock" color="accent">
                            Un-block
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="activate">
                    <mat-header-cell *matHeaderCellDef class="action-head"></mat-header-cell>
                    <mat-cell *matCellDef="let trainer" class="action-column">
                        <button mat-raised-button aria-label="Activate" color="accent">
                            Activate
                        </button>
                    </mat-cell>
                </ng-container> -->

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let trainer; columns: displayedColumns;" class="product" matRipple>
                </mat-row>
            </mat-table>

            <div class="no-user-found" *ngIf="noUser">
                <h4>No Record Found</h4>
            </div>

            <mat-paginator *ngIf="!noUser" #paginator [length]="totalLength" [pageSize]="limit"
                [pageSizeOptions]="pageLimit" (page)="changePage($event)">
            </mat-paginator>
        </div>
    </div>
</div>