@import "src/@fuse/scss/fuse";

.avatar-cell {
    max-width: fit-content;
}

.min-cell {
    max-width: fit-content;
}

user-list {
    #user {
        .mb-xs-24 {
            @include media-breakpoint("xs") {
                padding-bottom: 24px;
            }
        }

        .top-bg {
            @include media-breakpoint("lt-md") {
                height: 256px;
            }

            .avatar {
                vertical-align: middle;
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }

        >.center {
            >.header {
                .filters {
                    max-height: 50px;

                    .search-wrapper {
                        width: 100%;
                        max-width: 480px;
                        border-radius: 28px;
                        background-color: white;
                        overflow: hidden;
                        @include mat-elevation(1);

                        @include media-breakpoint("xs") {
                            width: 100%;
                        }

                        .search {
                            width: 100%;
                            height: 48px;
                            line-height: 48px;
                            padding: 0 18px;

                            input {
                                width: 100%;
                                height: 48px;
                                min-height: 48px;
                                max-height: 48px;
                                padding: 0 16px;
                                border: none;
                                outline: none;
                            }
                        }
                    }

                    .mat-form-field {
                        max-width: 120px;
                        margin-left: 15px;
                    }

                    .type-selection-dropdown {
                        border: 1px solid;
                        border-radius: 50px;
                        padding: 0 20px;
                        min-width: 160px;
                    }
                }

                @include media-breakpoint("xs") {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }

    .user-table {
        height: 100%;
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
        }

        .gym {
            position: relative;
            cursor: pointer;
            height: 84px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }


    }
}

.no-user-found {
    height: 100vh;
    padding: 35px;
    text-align: center;
}