<div id="user" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <div class="center">
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">
            <div class="logo mb-xs-24" fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    User Management
                </span>
            </div>

            <div class="filters" fxLayout="row">
                <div class="search-wrapper mx-32 mx-md-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon style="color: gray;">search</mat-icon>
                        <input #SearchInput placeholder="Search">
                        <mat-spinner *ngIf="showSearchLoader" diameter="20"></mat-spinner>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-card">
            <mat-table class="user-table" matSort #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>

                <ng-container matColumnDef="profileImage">
                    <mat-header-cell style="max-width: 88px;" *matHeaderCellDef></mat-header-cell>
                    <mat-cell class="avatar-cell" *matCellDef="let user">
                        <img [src]="regexesCopy.url.test(user.image) ? user.image : 'assets/images/avatars/profile_placeholder_male.jpg'"
                            alt="Avatar" class="avatar" style="margin-right: 24px;"
                            onerror="this.src='assets/images/avatars/profile_placeholder_male.jpg';">
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>User Name</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">{{user.name ? user.name : '---'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate" [matTooltip]="user.email ? user.email : '---'">
                            {{user.email ? user.email : '---'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="registeredAt">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Registered At</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">
                            {{user.createdAt ? moment(user.createdAt).format("DD/MM/YYYY") : '---'}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="active">
                    <mat-header-cell style="max-width: 140px;" *matHeaderCellDef></mat-header-cell>
                    <mat-cell class="min-cell" *matCellDef="let user">
                        <!-- fxHide fxShow.gt-xs -->
                        <button mat-raised-button aria-label="More" color="accent"
                            style="margin: 0 5px; margin-left: auto;" [routerLink]="'/users/' + user.id">
                            View Profile
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let user; columns: displayedColumns;" class="product" matRipple>
                </mat-row>
            </mat-table>

            <div class="no-user-found" *ngIf="noUser">
                <h4>No Record Found</h4>
            </div>

            <mat-paginator *ngIf="!noUser" #paginator [length]="totalLength" [pageSize]="limit"
                [pageSizeOptions]="pageLimit" (page)="changePage($event)">
            </mat-paginator>
        </div>
    </div>
</div>